<div class="item{CLASS_ITEM_ACTIVE}">
  <img src="{IMAGEURL}" alt=" ">
  <div class="carousel-caption">
  	<div class="visible-lg visible-md">
  		<p style="font-size:300%">{TITLE}</p>
  		<p style="font-size:150%">{TEXT}</p>   
  		<p>{CTA}</p>
  	</div>
  	<div class="hidden-lg hidden-md">
  		<p style="font-size:90%">{TEXT}</p>   
  		<p>{LINK}</p>
  	</div>
  </div> 
</div>



<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title">{TITLE}</h2>
	</div>
	<div class="panel-body">
		{TEXT}
	</div>
	<div class="panel-footer" style="text-align: right;">
		{LINK}
	</div>
</div>