{TOOLBAR}

<h2>?TID_WEBSERVICEMANAGER_TITLE_OVERVIEW?</h2>	
	
<table width="100%" class="default">
	<tr>
		<th class="default" width="25%">?TID_WEBSERVICEMANAGER_LABEL_NAME?</th>
		<td class="default" width="75%">{NAME}</td>
	</tr>
	<tr>
		<th class="default">?TID_WEBSERVICEMANAGER_LABEL_URL?</th>
		<td class="default">{URL}</td>
	</tr>
	<tr>
		<th class="default">?TID_WEBSERVICEMANAGER_LABEL_VERSION?</th>
		<td class="default">{VERSION}</td>
	</tr>
</table>

<h2>?TID_WEBSERVICEMANAGER_TITLE_TESTS?</h2>
{TESTMANAGER}

<h2>?TID_WEBSERVICEMANAGER_TITLE_LINKS?</h2>
{LINKS}
	
<h2>?TID_WEBSERVICEMANAGER_TITLE_HELP?</h2>
{HELP}
