<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title">{TITLE}</h2>
	</div>
	<div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">   
					<img src="{IMAGEURL}" alt="" style="
						width: 100%;
						max-width:100%;
						margin-right: 5px;
						margin-bottom: 5px;
						"/>
				</div>
				<div class="col-sm-6">   
					{TEXT}
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer" style="text-align: right;">
		{LINK}
	</div>
</div>