<div>
<table class="layout">
	<tr>
		<td style="width:58%;" class="layout">
			{TEXT1_LABEL}<br/>
			{TEXT1_CONTROL}<br/>
				<br/>
			{TEXTAREA1_LABEL}<br/>
			{TEXTAREA1_CONTROL}
				<br/>
			{PASSWORD1_LABEL}<br/>
			{PASSWORD1_CONTROL}
				<br/>
			{FILE1_LABEL}<br/>
			{FILE1_CONTROL}<br/>
				<br/>
			{TEXT2_LABEL}<br/>
			{TEXT2_CONTROL}
				
		</td>
		<td style="width:2%;" class="layout">&nbsp;</td>
		<td style="width:25%;" class="layout">
			{CHECKBOX1_LABEL}<br/>
			{CHECKBOX1_CONTROL}
				<br/>
			{SELECT1_LABEL}<br/>
			{SELECT1_CONTROL}
				<br/>
			{RADIO1_LABEL}<br/>
			{RADIO1_CONTROL}
				<br/>
			{DATE1_LABEL}<br/>
			{DATE1_CONTROL}
		</td>
		<td style="width:15%;" class="layout">
			{RESET_CONTROL}
				<br/>
			{SUBMIT_CONTROL}
		</td>
	</tr>
	<tr>
		<td class="layout" colspan="4">
			{READONLY1_LABEL}&nbsp;&nbsp;
			{READONLY1_CONTROL}
		</td>
	</tr>
	<tr>
		<td class="layout" colspan="4">
			{STATIC1_CONTROL}
		</td>
	</tr>
</table>
</div>

