<div style="width: 100%;">
	<div style="
		float: left;
		width: 27%;
		padding-right: 2%;
		">
		{TAGCLOUD}
	</div>
	<div style="
		float: left;
		width: 70%;
		">
		
		<div style="
			float: left;
			width: 60%;
			">
			<div style="padding-bottom: 10px">
				{LINKBACK}
			</div>
			<div class="contentbrowser">
				{TEXT}
			</div>
		</div>
		
		<div style="
			float: left;
			width: 5%;
			">
			&nbsp;
		</div>
		
		<div style="
			float: left;
			width: 35%;
			/* padding-left: 10px;    */
			">
			{LINKLIST}
		</div>
			
	</div>
</div>
