<div class="well">
<table width="100%" class="form-horizontal">
	<tbody>
	<tr>
		<td class="form-horizontal">
			{FILTERRESET_CONTROL}
		</td>
		<td class="form-horizontal">
			{SITE_LABEL}
		</td>
		<td class="form-horizontal">
			{ASSEMBLY_LABEL}
		</td>
		<td class="form-horizontal">
			{GROUP_LABEL}
		</td>
		<td class="form-horizontal">
		</td>
		<td class="form-horizontal">
		</td>
	</tr>
	<tr>
		<td class="form-horizontal">
		</td>
		<td class="form-horizontal">
			{SITE_CONTROL}
		</td>
		<td class="form-horizontal">
			{ASSEMBLY_CONTROL}
		</td>
		<td class="form-horizontal">
			{GROUP_CONTROL}
		</td>
		<td class="form-horizontal">
			{INCLUDETESTGROUP_CONTROL}
		</td>
		<td class="form-horizontal">
			{SUBMIT_CONTROL}
		</td>
	</tr>
	</tbody>
</table>
</div>

