<!-- {DATETIME_COMMENT} -->
<div class="countdown" data-countdown="{CONFIG}" style="display: none;">
	<div class="countdown-grid">
		<span class="countdown-number">%w</span>
		<span class="countdown-label">?TID_LABEL_WEEKS?</span>
	</div>
	<div class="countdown-grid">
		<span class="countdown-number">%d</span>
		<span class="countdown-label">?TID_LABEL_DAYS?</span>
	</div>
	<div class="countdown-grid">
		<span class="countdown-number">%H</span>
		<span class="countdown-label">?TID_LABEL_HOURS?</span>
	</div>
	<div class="countdown-grid">
		<span class="countdown-number">%M</span>
		<span class="countdown-label">?TID_LABEL_MINUTES?</span>
	</div>
	<div class="countdown-grid">
		<span class="countdown-number">%S</span>
		<span class="countdown-label">?TID_LABEL_SECONDS?</span>
	</div>
</div>
