{DOCTYPE}

<html lang="{LANGUAGE}">
{HEADER}

	<body>
		<header>
			{NAVIGATION_HORIZONTALPATH}
		</header>			
		
		<div class="container">
			<div class="row" style="padding-left: 15px; padding-right: 15px; padding-bottom:10px;">
				<div class="col-9">    
					{MESSAGE_UNDERCONSTRUCTION}
					<div style="width:100%;padding-bottom:10px;">
						<div style="float:left;">{NAVIGATION_CURRENTPATH}</div><div style="float:right; position:relative;">{USERSTATUS}{LANGUAGESELECTION}</div>
						<div style="clear:both"></div>
					</div>
				</div>
			</div>
			
      <div class="row">
				<div class="col-sm-3 hidden-xs">  
					{NAVIGATION_VERTICALPATH}
				</div>
				<div class="col-sm-9">
					{MESSAGES}
					{MODULE_LOGIN_FORM}
					{CONTENT}
					<br/><br/>
					<div class="visible-xs">     
						{NAVIGATION_VERTICALCURRENTPATH}
					</div>
				</div>
			</div>
			
		</div>					
	
		<footer>
			<div id="footer">
				<div class="container">
					{NAVIGATION_FOOTER}
					<p class="text-muted">
							<span style="float:right">{COPYRIGHT}</span><br/>
							<span style="float:right">{POWEREDBY}</span>
					</p>
				</div>
			</div>
		</footer>

		<div style="padding-top:15px;">&nbsp;</div>

	</body>
</html>